
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: rgba(0, 0, 0, .2);
  font-family: 'Helvetica Neue', serif;
}
.container {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
  margin-top: 1%;
  box-shadow: 0 0 50px 75px rgba(0, 0, 0, .2);
}

header {
  border-style: solid;
  border-width: thin;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 8px;
  padding: .4% 0;
  text-align: center;
  margin: 1% 0 2% 0;
  box-shadow: 0px 7px 20px 3px rgba(0, 0, 0, .7);
}

header h1 {
  margin: 2% 3%;
  padding: 1% 0;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2),
   inset 0 0 1.2em rgba(0, 0, 0, .5);
  background-color: rgba(0, 0, 0, .1);
  text-shadow: 2.5px 1.5px 3px rgba(0, 0, 0, .4);
  color: rgb(220, 220, 220);
  font-size: 350%;
}

.player {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  text-align: left;
}

#song-name {
  margin-left: 10%;
  text-shadow: 2.5px 1.5px 3px rgba(0, 0, 0, .2);
}

.player audio {
  width: 95%;
  margin-bottom: 1%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  align-self: center;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  border-style: solid;
  border-width: thin;
  border-color: rgba(0, 0, 0, .6);
  border-radius: 10px;
  padding: 1.5% 0;
  box-shadow: 0 8px 8px rgba(0, 0, 0, .3),
  inset 0 0 1em rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, .25);
}

#search-bar {
  align-self: center;
  width: 75%;
  padding: 0;
  border-width: thin;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .2),
  inset 0 0 .5em rgba(0, 0, 0, .2);
  text-indent: 2.5%;
  font-size: 125%;
}

#search-submit {
  width: 15%;
  margin-left: 4%;
  padding: 1%;
  border-radius: 3px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, .7),
  inset 0 0 .2em rgba(0, 0, 0, .2);
  background-color: rgb(100, 100, 100);
  color: rgb(220, 220, 220);
  text-shadow: 2.5px 1.5px 3px rgba(0, 0, 0, .5);
  border-style: solid;
  border-width: thin;
  border-color: rgba(0, 0, 0, .75);
  font-size: 150%;
}

.result {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-style: solid;
  border-width: thin;
  padding: 2% 1%;
  border-radius: 10px;
  box-shadow: 0 0 8px 6px rgba(0, 0, 0, .3),
  inset 0 0 1em rgba(0, 0, 0, .7);
  background-color: rgba(0, 0, 0, .20);
  margin-bottom: 4%;
}

.track-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30%;
  width: 19%;
  text-align: center;
  margin: 0 .5% 1% .5%;
  border-style: solid;
  border-color: rgba(0, 0, 0, .8);
  border-width: thin;
  border-radius: 5px;
  box-shadow: 2.5px 2.5px 4px rgba(0, 0, 0, .7),
  inset 0 0 1.2em rgba(0, 0, 0, .6);
  background-color: rgb(100, 100, 100);
  color: rgb(220, 220, 220);
  text-shadow: 2.5px 1.5px 3px black;
}

.track-info h3 {
  font-size: 150%;
  margin-top: 0;
  margin-bottom: 0;
}

.track-info p {
  font-size: 100%;
  margin-bottom: 5%;
}

.track-info img {
  margin-top: 5%;
  width: 75%;
  height: 55%;
  align-self: center;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, .4)
}
